#!/usr/bin/env ruby

#this has the ruby-conf comment directive should be auto-loaded when required
#:ruby-conf

RubyConf.define do
  ident "FOUND AND LOADED BASIC CONFIG {{VALUE}}"
  foo do
    ident "FOUND AND LOADED RAILS ENV CONFIG {{VALUE}}"
  end
end

